<div>{{data}}</div><br>

<label>Username</label><input type="text" [(ngModel)]="username" ><br>
<label>Password</label><input type="password" [(ngModel)]="password"><br>
<button (click)='login()'>Login</button><br>
<hr>
<br><br>
<button [routerLink]="['/register']">Register</button>
<!--<button onclick="window.location.href='/register';">Register</button>-->
<hr>
<label>Email</label><input type="email" [(ngModel)]="email"><br>
<button (click)='forgetPassword()' [disabled]="disable">Forget Password</button>
<hr>
<button [routerLink]="['/changePassword']">Update Password</button><br>
<router-outlet></router-outlet>
<!--
<div *ngIf="isShown">
    <label>Otp</label>
    <input type="number" [(ngModel)]="otp"><br> 
    <label>New Password</label>
    <input type="password" [(ngModel)]="password">
    <button (click)="updatePassword()">Update Password</button>
</div>
-->